<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
		<script type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
	</head>
    <body>
       <div class="container">
       	 <%if(error && error.length>0){%>
       	   <% error %>

       	<%}%>
       	<%if(success && success.length>0){%>
       	  <%success%>

       	 <%}%>

       </div>
       <div id="landing-header">
       	 <h1>welcome to yelpcamp</h1>
       	 <a href="/campground/" class="btn btn-lg btn-success">show all camps</a>

       </div>
       <ul class="slideshow">
       	
       	   <li></li>
           <li></li>
           <li></li>
           <li></li>
           <li></li>

       </ul>

    	


<%include ./partials/footer%>
